<h1>The Rules</h1>

<ul>
  <li>Each player chooses rock, paper, or scissors.</li>
  <ul>
    <li>Paper beats Rock</li>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
  </ul>
</ul>
