<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ROCK PAPER SCISSORS</title>
    <link rel='stylesheet' type='text/css' href="/style.css" >
  </head>
  <body>
    <nav>
      <ul>
        <li class = 'block'><a href='/'>Welcome</a></li>
        <li class = 'block'><a href='/how_to_play'>How to play</a></li>
      </ul>
    </nav>
    <div class='yield'>
    <%= yield %>
    </div>
  </body>
</html>
